body {
	overflow: hidden;
}

.fondo {
	background-image: url('../images/bg.png');
	background-size: cover;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.capa-oscura {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2); /* ajusta el color y la opacidad según tus necesidades */
	z-index: -1;
  }

.main {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.message-item {
	height: 100vh;
	width: 80%;
	padding: 0 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 36px;
	font-weight: 900;
	color: white;
	text-shadow: rgba(0,0,0,0.5) 1px 0 12px;
}

.message-item-text {
	padding-bottom: 100px;
}

.button-no-styling {
	background: none;
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;
}

.upButton {
	width: 100%;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}

.arrow {
	position: absolute;
	bottom: 50px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.upArrow {
	cursor: pointer;
	position: absolute;
}

.up-arrow {
	transform: rotate(180deg);
	cursor: pointer;
}

.index-link {
	position: absolute;
	bottom: 32px;
	left: 10px;
	font-size: 16px;
	color: white;
	opacity: 0;
	display: none;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

.index-link:hover {
	color: lightskyblue;
}

@media (max-width: 544px) {
	.arrow {
		bottom: 10px;
	}	

	.message-item {
		font-size: 28px;
	}

	.fondo {
		background-image: url('../images/bg-mobile.png');
	}	
}
